.conteinerAbout {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-content: normal;
  flex-wrap: nowrap;
  align-items: center;
}

.personalCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: normal;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 350px;
  width: 200px;
  box-sizing: content-box;
  margin: 1rem;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #9f3cc1;
  transition: all 0.45s ease-in-out;
}
.personalCard:hover {
  transform: scale(1.04);
  border: 1px solid black;
  box-shadow: 7px 7px 30px #4127cd;
}

.personalName {
  font-size: 0.9rem;
  margin: 1rem;
  margin-left: 2.5rem;
  color: white;
}
.personalName:hover {
  color: #b4514a;
}
.personalImage {
  border-radius: 10px;
  width: 150px;
  height: 110px;
  border-radius: 10px;
}

.personalDetails h2 {
  color: white;
  margin: 0.7rem;
  font-size: 0.7rem;
}

.personalLink {
  margin: 0rem;
}

.buttonLinks {
  margin-left: 1rem;
  margin-right: 2rem;
  width: 52px;
  height: 20px;
  text-decoration: none;
  border: 1px solid #9f3cc1;
  background-color: black;
  border-radius: 3px;
}
.buttonLinks a {
  text-decoration: none;
  color: white;
  background-color: black;
}

.buttonLinks:hover {
  border: 1px solid #4127cd;
}

.buttonLinks a:hover {
  color: #b4514a;
}

.conteinerText {
  color: white;
  background: black;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.conteinerText p {
  margin: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}
