.form {
  display: flex;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}
#form-react {
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
}
.form-react button {
  background: #f2317f;
  border: 1px solid #f2317f;
  border-radius: 2px;
  color: white;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.form-react button:hover {
  background-color: #bf1650;
}
.fail {
  color: #f2317f;
}

.form-control {
  margin-bottom: 7px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 7px;
  font: weight 200px;
}
.form-control input {
  border: none;
  background-color: #fffcfc;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 12px;
  width: 100%;
}
.form-control,
input:focus {
  outline: none;
}
.conteiner {
  border-radius: 2px;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}
