@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto&display=swap");

.tarjetas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-content: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 360px;
  width: 210px;
  box-sizing: content-box;
  margin: 1rem;
  border-radius: 20px;

  font-family: "Montserrat", sans-serif;
  border: 2px solid #9f3cc1;
  transition: all 0.45s ease-in-out;
}
.tarjetas:hover {
  transform: scale(1.04);
  border: 1px solid black;
  box-shadow: 7px 7px 30px #4127cd;
}
/* Boton de eliminar*/

.cajadeboton {
  color: white;
  margin-top: 0px;
}

.eliminar {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  background-color: #9f3cc1;
}
.eliminar:hover {
  width: 25px;
  height: 20px;
  border: 1px solid #c10758;
}

/* Link  */

.linkcaja {
  text-decoration: none;
  text-transform: none;
}

.link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.link h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.link h2:hover {
  color: #9f3cc1;
}

/* imagen */

.imagen {
  width: 140px;
  height: 110px;
  border-radius: 10px;
}

.datos {
  color: white;
  font-size: 0.7rem;
  margin: 0.2rem;
}

.botonCorazon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 0.3rem;
  margin-bottom: 0px;
  background-color: #9f3cc1;
  border: 1px solid #9f3cc1;
  border-radius: 20px;
}

.conteinerImagens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;

  margin-left: 1rem;
}
